body {
	font-family: Montserrat;
	background: linear-gradient(90deg, #fafcff 0%, #fffbf5 100%);
}

.header {
	grid-area: header;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	column-gap: 4vw;

	padding: 10px;
}

.logo {
	width: 100px;
}

.header > a {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.header > a:hover {
	text-decoration: underline;
}

.block {
	margin-top: 6vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6vw;

	width: 40%;
	min-width: 200px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 20px;
}

.block > button {
	margin-top: 10px;
}

.name_input > input {
	margin-bottom: 10px;
	margin-right: 10px;
}

.line {
	height: 3px;
	margin-bottom: 20px;
	width: 60%;
	border-radius: 2px;
	background-image: linear-gradient(90deg, #e0c2ff 0%, #fef9ab 100%);
}

.wrapper {
	display: grid;
	grid-template-areas:
		'header'
		'home'
		'result';
}

.home {
	grid-area: home;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.inputs {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 2.6em;
	gap: 20px;
}

.inputs > div {
	width: 220px;
}

.cards_count {
	margin-bottom: 0px;
}

.last_card {
	margin-top: 8px;
}

.remove_button {
	display: block;
	margin-top: -0.4em;
	margin-bottom: 1.4em;
}

.result {
	display: none;
	grid-area: result;
}

.effects_desc {
	padding-left: 20px;
}