body {
	font-family: Montserrat;
}

.current {
	color: gray !important;
}

.wrapper {
	display: grid;
	grid-template-areas:
		'header'
		'home';
}

.header {
	grid-area: header;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	gap: 32px;

	padding: 16px;
}

.logo {
	width: 6em;
}

.copyrights_link:hover {
	cursor: default;
}

.header > a {
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	color: black;
}

.header > a:hover {
	color: gray;
}

.home {
	grid-area: home;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;

	padding-bottom: 60px;
}

.home_left {
	min-width: 240px;
	width: 30%;
}

.home_right {
	min-width: 260px;
	width: 30%;
}

.home_right > a > img {
	float: right;
	width: 140%;
}

.link_area {
	text-align: right;
}

.link_area > a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.link_area > a:hover {
	color: gray;
}